# v1.1.0 | 2024-04-23

PROJECTNAME=homelab-core

############################################
# General Settings
############################################
BASEPATH=C:/Users/YOUR_USER_NAME/docker-homelab-files
# No trailing slash. Config, log, and other service files will be stored here. Ex: C:/Users/YOUR_USER_NAME/docker-media-pipeline-files

DOMAINROOT=
#ex: home.example.com
EMAIL=
# Your email to register your SSL certificate, and any other supported notifications. It's safe to use your personal email address here.

WEB_USERNAME=
# Your username for accessing the server via a web browser

TZ=America/New_York
# Your timezone, ex: `America/New_York`

############################################
# DDCLIENT Settings
############################################
DDCLIENT_PASSWORD=
# Your password for the ddclient service

CLOUDFLARE_TOKEN=
# Your Cloudflare API token

############################################
# Additional Docker Services
############################################
# Enable additional services by uncommenting these lines

# MEDIA_PIPELINE_CONF=..\docker-media-pipeline\Docker\docker-compose.yml
# The name of the core docker-compose file
# MEDIA_PIPELINE_ENV=..\docker-media-pipeline\Docker\.env