# v1.0.0 | 2024-03-20 1014 US Eastern

############################################
# General Settings
############################################
BASEPATH=C:/Users/YOUR_USER_NAME/docker-homelab-files
# No trailing slash. Config, log, and other service files will be stored here. Ex: C:/Users/YOUR_USER_NAME/docker-media-pipeline-files

DOMAINROOT=
#ex: home.example.com
EMAIL=
# Your email to register your SSL certificate. It's safe to use your personal email address here.

WEB_USERNAME=
# Your username for accessing the server via a web browser

TIMEZONE=America/New_York
# Your timezone, ex: `America/New_York`

############################################
# Additional Docker Services
############################################
# Enable additional services by uncommenting these lines

# MEDIA_PIPELINE_CONF=..\docker-media-pipeline\Docker\docker-compose.yml
# The name of the core docker-compose file


############################################
# Paths for your storage drive(s)
############################################
STORAGEPATH01_PATH=
# The (Docker-linux friendly) path of the drive or folder you want to mount, e.g. `/D`
STORAGEPATH01_NAME=
# The name of the drive or folder you want to mount, e.g. `Media`

############################################
# Uncomment additional drives (or paths on drives) as needed. No need to edit docker-compose.yaml anymore.
############################################
# STORAGEPATH02_PATH=
# The (Docker-linux friendly) path of the drive or folder you want to mount, e.g. `/E`
# STORAGEPATH02_NAME=
# The name of the drive or folder you want to mount, e.g. `DataDrive`

# STORAGEPATH03_PATH=
# STORAGEPATH03_NAME=

# STORAGEPATH04_PATH=
# STORAGEPATH04_NAME=

# STORAGEPATH05_PATH=
# STORAGEPATH05_NAME=

# STORAGEPATH06_PATH=
# STORAGEPATH06_NAME=

# STORAGEPATH07_PATH=
# STORAGEPATH07_NAME=

# STORAGEPATH08_PATH=
# STORAGEPATH08_NAME=

# STORAGEPATH09_PATH=
# STORAGEPATH09_NAME=

# STORAGEPATH10_PATH=
# STORAGEPATH10_NAME=